*{
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: white !important;
 }


 .container_logo{
    margin-right: 20%;
 }

.logo{
    width: 30%;
    margin-right: 70%;
    margin-top: -6%;
    padding-right: 10%;
 
}

.cart_container{
    display: flex;
    justify-content: flex-start;
}

.navbar{

    margin-bottom: 10%;
    background-color: #011627 !important;
    padding-top: 2%;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    height: 11vh;

}

.nav-link {
    font-size: 0.9rem;
    transition: 1.2s ease-in-out;
    margin-right: 20px;
    margin-top: 2px;

}

.nav-link:hover {
    color: grey !important;
}


 .container_nav{
    margin-right: 2%;
    margin-bottom: 1.2%;
  
} 

.more_categories{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.form_search{
    height: 20%;
}

.user_avatar{
    width: 40px;
    border-radius: 50%;

}

